{% extends 'boot_base.html' %}
{% load static %}

{% block content %}
<div class="container text-center py-5">
    <h1>Changing password</h1>
</div>

<div class="container mt-2">
    <form method="POST">
        {% csrf_token %}
        {% for f in form %}
            <div class="mb-3">
                <label for="{{ f.id_for_label }}" class="form-label">
                    {{ f.label }}
                    {% if f.field.required %} <span class="text-danger">*</span> {% endif %}
                </label>
                <input type="{{ f.field.widget.input_type }}"
                       name="{{ f.name }}"
                       id="{{ f.id_for_label }}"
                       class="form-control {% if f.errors %}is-invalid{% endif %}"
                       value="{{ f.value|default:'' }}"
                       placeholder="{{ f.field.widget.attrs.placeholder|default:'' }}">
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
</div>
{% endblock %}


