{% extends 'base.html' %}
{% load static %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{% static 'users/css/users.css' %}">
{% endblock %}

{% block content %}
    <h1>Hello! It's my study project. </h1>
    <div class="central_message_box">
        <h2>You can find here some applications:</h2>
        <div class="left_align_in_central_box">
            <h4><a class="a_inline" href="{% url 'blog:start' %}">blog</a>
                -> for blogging apparently;</h4>
            <h4><a class="a_inline" href="{% url 'dictionary:start' %}">dictionary</a>
                -> for studying foreign words;</h4>
        </div>
        <h4 style="margin-top:30px;">other apps are coming...</h4>
    </div>
<div class="background-img-mark">Photo by
    <a href="https://unsplash.com/@woods?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
        Joe Woods</a> on
    <a href="https://unsplash.com/photos/white-brick-wall-4Zaq5xY5M_c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
        Unsplash</a>
</div>
{% endblock %}