{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/users.css'%}">
{% endblock %}

{% block content %}
<h1>Регистрация завершена успешно.</h1>
<div class="background-img-mark">Photo by
    <a href="https://unsplash.com/@woods?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
        Joe Woods</a> on
    <a href="https://unsplash.com/photos/white-brick-wall-4Zaq5xY5M_c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
        Unsplash</a>
</div>
{% endblock %}
