{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="dictionary/css/dictionary.css">
{% endblock %}

{% block content %}
  <div class="central-message-box">
    <form action="" method="POST">
      {% csrf_token %}
      {% for f in form %}
          <div class="row">
              <div class="col-25">
                  <label for="{{ f.id_for_label }}">{{ f.label }}</label>
              </div>
              <div class="col-65" style="text-align:left;">
                  {{ f }}
              </div>
          </div>
      {% endfor %}
      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}
