{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'dictionary/css/dictionary.css' %}">
{% endblock %}

{% block content %}
<div class="central-container">
{% if messages %}
  <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
  </ul>
{% endif %}
<form action="" method="POST">
  {% csrf_token %}
  <h1>Добавление слова</h1>
  {% for f in form %}
      <div class="row">
          <div class="col-25">
              <label for="{{ f.id_for_label }}">{{ f.label }}</label>
          </div>
          <div class="col-65">
              {{ f }}
          </div>
      </div>
  {% endfor %}
  <hr>
  <input class="button_m" type="submit" value="Submit">
</form>
</div>
<div class="background-img-mark">
    Photo by
    <a href="https://unsplash.com/@impatrickt?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
        Patrick Tomasso</a> on
    <a href="https://unsplash.com/photos/open-book-lot-Oaqk7qqNh_c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
    Unsplash</a>
</div>
{% endblock %}
