{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'dictionary/css/dictionary.css' %}">
{% endblock %}

{% block content %}
<div class="central-container">
    <h2>Вы уверены, что хотите удалить слово "{{ object.title }}" из словаря?</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button_m" type="submit">Delete</button>
        <button class="button_m"><a href="{% url 'dictionary:start' %}">Cancel</a></button>
    </form>
</div>
<div class="background-img-mark">
    Photo by
    <a href="https://unsplash.com/@impatrickt?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
        Patrick Tomasso</a> on
    <a href="https://unsplash.com/photos/open-book-lot-Oaqk7qqNh_c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
    Unsplash</a>
</div>
{% endblock %}