{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'dictionary/css/dictionary.css' %}">
{% endblock %}

{% block content %}

<div class="central-container">
    <p id="words" style="display:none;">{{ words }}</p>
    <p id="title" style="display:none;"></p>
    <h3 style="margin-bottom:0;" id="words_count"></h3>
    <h1 style="margin-top:0;" id="translation"></h1>
    <input type="text" id="answer" style="width:80%; display:block; margin:30px auto;" autofocus>
    <button class="button_m" id="check" onclick=check()>Check</button>
    <button class="button_m" id="tip" onclick=tip()>Tip</button>
    <button class="button_m" id="next" onclick=next() disabled>Next</button>
    <div id="congrats" style="display:none;">
        <h1>
            Вы прошли весь список!
        </h1>
    </div>
    <form method='post'>
        {% csrf_token %}
        <p style="display:none">{{ form.only_field }}</p>
        <input class="button_m" type="submit" id="submit" style="display:none" value="Сохранить результат">
    </form>
</div>
<div class="background-img-mark">
    Photo by
    <a href="https://unsplash.com/@impatrickt?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
        Patrick Tomasso</a> on
    <a href="https://unsplash.com/photos/open-book-lot-Oaqk7qqNh_c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
    Unsplash</a>
</div>

<script src="{% static 'dictionary/js/learn_list.js' %}"></script>

{% endblock %}
