{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'dictionary/css/dictionary.css' %}">
{% endblock%}

{% block content %}
    <table class="words-table">
        <tr>
            <th>Word/Phrase</th>
            <th>Translation</th>
            <th>Level</th>
            <th>Creation date</th>
        </tr>
    {% for word in words %}
        <tr>
            <td>
                {{ word.title }}
            </td>
            <td>
                {{ word.translation }}
            </td>
            <td>
                {{ word.level }}
            </td>
            <td>
                {{ word.create_time }}
            </td>
        </tr>
    {% endfor %}
    </table>
<div class="background-img-mark">
    Photo by
    <a href="https://unsplash.com/@impatrickt?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
        Patrick Tomasso</a> on
    <a href="https://unsplash.com/photos/open-book-lot-Oaqk7qqNh_c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
    Unsplash</a>
</div>
{% endblock %}
