{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'dictionary/css/dictionary.css' %}">
{% endblock%}

{% block content %}
<div class="central-container">
<h2>Количество выбранных слов - {{ count }}</h2>
<div class="table-container">
    <table>
        <tr>
            <th>Word/Phrase</th>
            <th>Translation</th>
            <th>Level</th>
            <th>Creation date</th>
        </tr>
    {% for word in words %}
        <tr>
            <td>
                <a href="{% url 'dictionary:update_word' word.pk %}">{{ word.title }}</a>
            </td>
            <td>
                <a href="{% url 'dictionary:update_word' word.pk %}">{{ word.translation }}</a>
            </td>
            <td>
                {{ word.level }}
            </td>
            <td>
                {{ word.create_time }}
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
<form style="width:80%;margin:0 auto;" method="get">
    <input type="text" name="title" placeholder="Search by word (part of word)">
    <input type="text" name="translation" placeholder="Search by translation (part of translation)">
    <input type="number" name="level" placeholder="Level">
    <input class="button_m" type="submit" value="Filter">
</form>
</div>
<div class="background-img-mark">
    Photo by
    <a href="https://unsplash.com/@impatrickt?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
        Patrick Tomasso</a> on
    <a href="https://unsplash.com/photos/open-book-lot-Oaqk7qqNh_c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
    Unsplash</a>
</div>
{% endblock %}
