{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'dictionary/css/dictionary.css' %}">
{% endblock%}

{% block content %}
    <table>
        <tr>
            <th>Word/Phrase</th>
            <th>Translation</th>
            <th>Level</th>
            <th>Creation date</th>
        </tr>
    {% for word in words %}
        <tr>
            <td>
                {{ word.title }}
            </td>
            <td>
                {{ word.translation }}
            </td>
            <td>
                {{ word.level }}
            </td>
            <td>
                {{ word.create_time }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
