{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'dictionary/css/dictionary.css' %}">
{% endblock %}

{% block content %}
<div class="central-container">
    <h1>Словарь</h1>
    <p>В этом приложении Вы можете добавлять свои слова (фразы) и переводы к ним.
    У каждого слова (фразы) есть свой счетчик (уровень), к которому прибавляется 1, если Вы правильно ввели перевод
    для него. Если Вы нажали кнопку Tip, то счетчик обнуляется.
    </p>
    <p>При этом слова для изучения подаются в отсортированном виде, начиная со слов с наименьшим счетчиком.
    Таким образом, слова, которые Вы хорошо запомнили, будут в конце списка.
    </p>
    <p>
    У каждого пользователя свой список, поэтому, чтобы использовать это приложение, требуется
    регистрация.
    </p>
    <hr>
    {% if is_list %}
        <a class="button_m" href="{% url 'dictionary:pre_learn' %}">Learn</a>
        <a class="button_m" href="{% url 'dictionary:add_words' %}">Add</a>
        <a class="button_m" href="{% url 'dictionary:show_words' %}">My words</a>
    {% else %}
        <a class="button_m" href="{% url 'dictionary:add_words' %}">Add</a>
    {% endif %}
</div>
<div class="background-img-mark">
    Photo by
    <a href="https://unsplash.com/@impatrickt?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
        Patrick Tomasso</a> on
    <a href="https://unsplash.com/photos/open-book-lot-Oaqk7qqNh_c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
    Unsplash</a>
</div>
{% endblock %}
