{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'dictionary/css/dictionary.css' %}">
{% endblock %}

{% block content %}
<div class="central-container">
    <h1>Редактирование</h1>
    <form method="POST">
        {% csrf_token %}
        {% for f in form %}
        <div class="row">
            <div class="col-25">
                <label for="{{ f.id_for_label }}">{{ f.label }}</label>
            </div>
            <div class="col-65" style="text-align:left;">
                {{ f }}
            </div>
        </div>
        {% endfor %}
        <input class="button_m" type="submit" value="Edit">
    </form>
    <hr>
    <a class="button_m" href="{% url 'dictionary:delete_word' word.pk %}">Delete</a>
</div>
{% endblock %}