<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block head %}
    {% endblock %}
    <title>
      {% block title %}
      {{ title }}
      {% endblock %}
    </title>
    <link type="text/css" rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'users/images/favicon.ico' %}">
</head>

<body>
    <ul class="menu_ul">
        {% if current_app == 'Home' %}
        <li class="menu_li"><a class="active" href="{% url 'users:home' %}">Home</a></li>
        <li class="menu_li"><a href="{% url 'blog:start' %}">Blog</a></li>
        <li class="menu_li"><a href="{% url 'dictionary:check_auth' %}">Dictionary</a></li>
        {% elif current_app == 'Blog' %}
        <li class="menu_li"><a href="{% url 'users:home' %}">Home</a></li>
        <li class="menu_li"><a class="active" href="{% url 'blog:start' %}">Blog</a></li>
        <li class="menu_li"><a href="{% url 'dictionary:check_auth' %}">Dictionary</a></li>
        {% elif current_app == 'dictionary' %}
        <li class="menu_li"><a href="{% url 'users:home' %}">Home</a></li>
        <li class="menu_li"><a href="{% url 'blog:start' %}">Blog</a></li>
        <li class="menu_li"><a class="active" href="{% url 'dictionary:check_auth' %}">Dictionary</a></li>
        {% else %}
        <li class="menu_li"><a href="{% url 'users:home' %}">Home</a></li>
        <li class="menu_li"><a href="{% url 'blog:start' %}">Blog</a></li>
        <li class="menu_li"><a href="{% url 'dictionary:check_auth' %}">Dictionary</a></li>
        {% endif %}

        {% if user.is_authenticated %}
            <li class="menu_li" style="float:right;"><a href="{% url 'users:logout' %}">Logout</a></li>
            <li class="menu_li" style="float:right;"><a href="{% url 'users:profile' %}">{{ user.username }}</a></li>
        {% else %}
            <li class="menu_li" style="float:right;"><a href="{% url 'users:login' %}">Login</a></li>
            <li class="menu_li" style="float:right;"><a href="{% url 'users:registration' %}">Registration</a></li>
        {% endif %}
    </ul>

    {% block content %}
    {% endblock %}

    {% block nav_pages %}
    {% endblock %}
</body>
</html>