h1, h2, h3 {
 font-family: Georgia, serif;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

button {
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

input {
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

.menu_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    font-family: Lora, serif;
    font-variant: small-caps;
    font-size: 24px;
}

.menu_li{
    float: left;
}

.menu_li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu_li a:hover:not(.active){
    background-color: rgb(204, 255, 255);
}

.active{
    background-color: rgb(204, 255, 255);
}
.background-img-mark{
    position: fixed;
    left: 30px;
    bottom: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 7px;
    padding: 3px;
}