{% extends 'base.html' %}

{% block title %}
Learn words
{% endblock %}

{% block content %}
<h1>Learn words page</h1>

<form action="" method="POST">
    {% csrf_token %}
    <ul>
        {% for word in words %}
        <li>
            <span>{{ word.name }}</span>
            <span id='{{ word.id }}' style="visibility:hidden">{{ word.translation }}</span>
            <button onclick="showTranslation('{{ word.id }}')">Show</button>
            <input type="checkbox" id="right" name="word_{{ word.id }}" value="on">
            <label for="right">Got it</label><br>
        </li>
        {% endfor %}
    </ul>
    <input type="submit">
</form>

<script>
    function showTranslation(x) {
        const el = document.getElementById(x);
        el.style.visibility = 'visible';
    }
</script>
{% endblock %}
