{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'words/css/words.css' %}">
{% endblock %}

{% block content %}
    <h1>Here is Words application</h1>
    <div class="row">
        <div class="side-column">
            <div class="read_post_a"><a href="{% url 'words:create_list' %}">Create list</a></div>
            <div class="read_post_a"><a href="{% url 'words:show_list' %}">Show current list</a></div>
            <div class="read_post_a"><a href="{% url 'words:my_lists' %}">My lists</a></div>
        </div>
        <div class="central-column" style="padding:50px; font-size:20px; text-align: justify;">
            <div class="read_post_a">
                <a href="{% url 'words:create_list' %}">Create list -> </a>
                is for creating new list of words for studying.
            </div>
            <div class="read_post_a">
                <a href="{% url 'words:show_list' %}">Show list -> </a>
                shows you a table of words in current list.
            </div>
            <div class="read_post_a">
                <a href="{% url 'words:my_lists' %}">My lists -> </a>
                shows you all the lists you've created.
            </div>
            <div class="read_post_a">
                <a href="{% url 'words:learn_words' %}">Learn words -> </a>
                to start learning words in chosen list. Every word has a counter (level).
                Every time you push button 'next' level increases by 1. Every time you push button 'Tip'
                level decreases by 6.
            </div>
            <div class="read_post_a">
                <a href="{% url 'words:add_words' %}">Add words -> </a>
                to add words into current list.
            </div>
        </div>
        <div class="side-column">
            <div class="read_post_a"><a href="{% url 'words:learn_words' %}">Learn words</a></div>
            <div class="read_post_a"><a href="{% url 'words:add_words' %}">Add words</a></div>
        </div>
    </div>
{% endblock %}
