{% extends 'base.html' %}

{% block title %}
Words
{% endblock %}

{% block content %}

    <!--  Пока что список слов будет один. Потом посмотрим.
    <h1>Выбери список для изучения.</h1>
    <div class="dropdown">
        <span>Choose list</span>
        <div class="dropdown-content">
            <p>{{ p1 }}</p>
            <p>{{ p2 }}</p>
            <p>{{ p3 }}</p>
        </div>
    </div>
    <h2>Создай новый список.</h2>
    <button type="button">Create list</button> -->

    <a href="{% url 'learn' %}">Learn words</a>
    <a href="{% url 'add' %}">Add words</a>
    <a href="{% url 'table' %}">Show words in the table</a>

{% endblock %}
