{% extends 'base.html' %}

{% block title %}
Table of words
{% endblock %}

{% block content %}
<h1>Table of words page.</h1>

<table id="table" style="width:100%">
    <tr>
        <th>Word</th>
        <th>Translation</th>
        <th>Level</th>
        <th>Created</th>
        <th>Last update</th>
    </tr>
    {% for word in words %}
    <tr>
        <td>{{ word.name }}</td>
        <td>{{ word.translation }}</td>
        <td>{{ word.level }}</td>
        <td>{{ word.create_time }}</td>
        <td>{{ word.update_time }}</td>
    </tr>
    {% endfor%}
</table>
{% endblock %}
