{% extends 'base.html' %}
{% load static %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}
<h1>Are you sure you want to delete post "{{ object }}" ?</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
<div style="text-align:center;">
    <button style="cursor:pointer;" type="submit">Submit</button>
    <button><a style="text-decoration:none;color:black;" href="{ url 'blog:start' }">Cancel</a></button>
</div>
</form>
{% endblock %}
